PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/techbid2026?retryWrites=true&w=majority
JWT_SECRET=your_secure_jwt_secret_key_here
CLIENT_URL=https://your-frontend-deployment-url.com
ADMIN_EMAIL=admin@techbid.com
ADMIN_PASSWORD=your_secure_admin_password
ADMIN_NAME=IEEE VTS Event Admin